.Tech{
    color: #D9D9D9;
    font-family: Share Tech Mono;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 10rem;
}
.Cloud{
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 8rem;
}